.menu{
    list-style: none;

}
.menu li{
    float: left;
    background-color: forestgreen;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.menu li:hover{
    background-color: darkslategray;

}